<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="ja">
<body onload="onLoadPage();">
<noscript>
    <br><br><h2>
        3Dセキュア認証を続けます。<br>
        ボタンをクリックしてください。
        <input type="submit" value="OK">
    </h2>
</noscript>

<form name="downloadForm" method="post" action="{{ AcsUrl }}">
    <input type="hidden" name="PaReq" value="{{ PaReq }}">
    <input type="hidden" name="TermUrl" value="{{ TermUrl }}">
    <input type="hidden" name="MD" value="{{ MD }}">
</form>

<script type="text/javascript">
    function onLoadPage() {
        document.downloadForm.submit();
    }
</script>
</body>
</html>
